---
import type { HTMLAttributes } from "astro/types";
import { css } from "#styled-system/css";
import { alertVariants } from "./alert.recipe";
import type { WithCSSProp } from "@lib/utils";

type Props = WithCSSProp<HTMLAttributes<"p">>;

const { css: cssProp, ...props } = Astro.props;
const classes = css(alertVariants.raw().description, cssProp);
---

<p class={classes} {...props}><slot /></p>
