---
import { css } from "#styled-system/css";
import type { HTMLAttributes } from "astro/types";
import { linkVariants, type LinkVariants } from "./link.recipe";
import type { WithCSSProp } from "@lib/utils";

type Props = WithCSSProp<HTMLAttributes<"a"> & LinkVariants>;

const { css: cssProp, class: className, variant, ...props } = Astro.props;
const classes = css(linkVariants.raw({ variant }), cssProp);
---

<a class={classes} {...props}>
    <slot />
</a>
