---
import { css } from "#styled-system/css";
import type { HTMLAttributes } from "astro/types";
import { alertVariants, type AlertVariants } from "./alert.recipe";
import type { WithCSSProp } from "@lib/utils";

type Props = WithCSSProp<HTMLAttributes<"div"> & AlertVariants>;

const {
    class: className,
    variant = "solid",
    css: cssProp,
    ...props
} = Astro.props;
const classes = css(alertVariants.raw({ variant }).root, cssProp);
---

<div {...props} class={classes}>
    <slot />
</div>
