---
import { css } from "#styled-system/css";
import type { HTMLAttributes } from "astro/types";
import { alertDialogRecipe } from "./alert-dialog.recipe";
import type { WithCSSProp } from "@lib/utils";

type Props = WithCSSProp<HTMLAttributes<"div">>;

const { css: cssProp, ...props } = Astro.props;
const classes = css(alertDialogRecipe.raw().footer, cssProp);
---

<div {...props} class={classes} data-slot="alert-dialog-footer"><slot /></div>
