---
import { cx } from "#styled-system/css";
import type { HTMLAttributes } from "astro/types";
import { alertDialogRecipe } from "./alert-dialog.recipe";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
const classes = cx(alertDialogRecipe().header, className);
---

<div {...rest} class={classes} data-slot="alert-dialog-header"><slot /></div>
