---
import { css } from "#styled-system/css";
import type { HTMLAttributes } from "astro/types";
import { card, type CardVariants } from "./card.recipe";
import type { WithCSSProp } from "@lib/utils";

type Props = WithCSSProp<HTMLAttributes<"div"> & CardVariants>;

const { variant, css: cssProp, ...rest } = Astro.props;
const classes = css(card.raw({ variant }).body, cssProp);
---

<div class={classes} {...rest}>
    <slot />
</div>
