---
import { cx } from "#/styled-system/css";
import type { HTMLAttributes } from "astro/types";
import { card, type CardVariants } from "./card.recipe";

type Props = HTMLAttributes<"div"> & CardVariants;

const { class: className, variant, ...rest } = Astro.props;
const classes = cx(card({ variant }).root, className);
---

<div class={classes} {...rest}>
    <slot />
</div>
