---
import { css } from "#styled-system/css";
import type { HTMLAttributes } from "astro/types";
import { textVariants, type TextVariants } from "./typography.recipe";
import type { WithCSSProp } from "@lib/utils";

type Props = WithCSSProp<HTMLAttributes<"span"> & TextVariants>;

const { css: cssProp, size, weight, muted, lead, ...props } = Astro.props;
const classes = css(textVariants.raw({ size, weight, muted, lead }), cssProp);
---

<span class={classes} {...props}>
    <slot />
</span>
