---
import { css } from "#styled-system/css";
import type { HTMLAttributes } from "astro/types";
import { accordionRecipe } from "./accordion.recipe";
import type { WithCSSProp } from "@lib/utils";

type Props = WithCSSProp<
    HTMLAttributes<"div"> & {
        multiple?: boolean;
        defaultValue?: string | string[];
        collapsible?: boolean;
    }
>;

const {
    css: cssProp,
    multiple = false,
    defaultValue,
    collapsible = true,
    ...props
} = Astro.props;
const classes = css(accordionRecipe.raw().root, cssProp);
const rootDefaultValue = Array.isArray(defaultValue)
    ? JSON.stringify(defaultValue)
    : defaultValue;
---

<div
    {...props}
    data-slot="accordion"
    data-multiple={multiple ? "true" : undefined}
    data-default-value={rootDefaultValue}
    data-collapsible={collapsible ? undefined : "false"}
    class={classes}
>
    <slot />
</div>

<script>
    import { create } from "@data-slot/accordion";

    create();
</script>
