---
import Layout from "#layouts/index.astro"
import { Button } from "#components/ui/button";
import { css } from "#styled-system/css";
import { container, hstack } from "#styled-system/patterns";
import { Heading } from "#/lib/components/ui/heading";
import { Card, CardHeader, CardBody, CardDescription, CardFooter, CardTitle } from "#/lib/components/ui/card";
import { Span, Text } from "#/lib/components/ui/typography";
import { Link } from "#/lib/components/ui/link";
---

<Layout>
    <div class={container({ py: "4", spaceY: "4"})}>
        <Heading as="h1" level="h1">Welcome Astro</Heading>
        <Card class={css({ maxW: "sm"})}>
            <CardHeader>
                <CardTitle>Card Title</CardTitle>
                <CardDescription>Card Description</CardDescription>
            </CardHeader>
            <CardBody>
                <Text>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    <Span muted>Odius</Span> repellendus sit rerum dicta fugiat, exercitationem quas hic.
                    Reprehenderit atque ex <Link href="/" variant="plain" class={css({
                      colorPalette: "amber"
                    })}>officia</Link> dolores eligendi,
                    at sapiente mollitia impedit, vel voluptate a!
                </Text>
            </CardBody>
            <CardFooter>
                <Button variant="outline" size="lg">Learn More</Button>
            </CardFooter>
        </Card>
    </div>
</Layout>
