---
import { Icon } from "@dallay/astro-icon/components";
import Layout from "@layouts/index.astro";
import { Button } from "@components/ui/button";
import { css } from "#styled-system/css";
import { container, hstack } from "#styled-system/patterns";
import { Heading } from "@components/ui/heading";
import * as Avatar from "@components/ui/avatar";
---

<Layout>
    <div class={container({ py: "4", spaceY: "4" })}>
        <Heading
            as="h1"
            level="h1"
            class={css({
                color: "warning.fg",
            })}>Welcome Astro</Heading
        >
        <div class={hstack({ gap: "4" })}>
            <Avatar.Root>
                <Avatar.Fallback>IG</Avatar.Fallback>
            </Avatar.Root>
        </div>
    </div>
</Layout>
