---
import Layout from "#layouts/index.astro";
import { Button } from "#components/ui/button";
import { css } from "#styled-system/css";
import { container, hstack } from "#styled-system/patterns";
import { Heading } from "#lib/components/ui/heading";
import {
    Card,
    CardHeader,
    CardBody,
    CardDescription,
    CardFooter,
    CardTitle,
} from "#lib/components/ui/card";
import { Span, Text } from "#lib/components/ui/typography";
import { Link } from "#lib/components/ui/link";
import {
    Empty,
    EmptyHeader,
    EmptyContent,
    EmptyMedia,
    EmptyTitle,
    EmptyDescription,
} from "#lib/components/ui/empty";
---

<Layout>
    <div class={container({ py: "4", spaceY: "4" })}>
        <Heading
            as="h1"
            level="h1"
            class={css({
                color: "warning.fg",
            })}>Welcome Astro</Heading
        >
        <Card class={css({ maxW: "sm" })}>
            <CardHeader>
                <CardTitle>Card Title</CardTitle>
                <CardDescription>Card Description</CardDescription>
            </CardHeader>
            <CardBody>
                <Text class={css({ colorPalette: "orange" })}
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    <Span muted>Odius</Span> repellendus sit rerum dicta fugiat, exercitationem
                    quas hic. Reprehenderit atque ex <Link
                        href="/"
                        variant="plain"
                        class={css({
                            colorPalette: "amber",
                        })}>officia</Link
                    > dolores eligendi, at sapiente mollitia impedit, vel voluptate
                    a!
                </Text>
            </CardBody>
            <CardFooter>
                <Button
                    variant="subtle"
                    class={css({
                        colorPalette: "pink",
                    })}
                    pill>Learn More</Button
                >
            </CardFooter>
        </Card>

        <Empty>
            <EmptyHeader>
                <EmptyTitle> Nothing found </EmptyTitle>
                <EmptyDescription>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Nemo facilis cumque quidem quas, ipsam modi. A accusamus,
                    asperiores repudiandae et obcaecati veritatis ipsum,
                    voluptatibus eveniet corporis mollitia fugiat vitae non.
                </EmptyDescription>
            </EmptyHeader>
            <EmptyContent>
                <Button>New item</Button>
                <Button variant="subtle">Another item</Button>
            </EmptyContent>
        </Empty>
    </div>
</Layout>
