---
import { css } from "#styled-system/css";
import type { HTMLAttributes } from "astro/types";
import { alertDialogRecipe } from "./alert-dialog.recipe";
import type { WithCSSProp } from "@lib/utils";

type Props = WithCSSProp<HTMLAttributes<"div">>;

const { css: cssProp, ...props } = Astro.props;
const classes = css(alertDialogRecipe.raw().root, cssProp);
---

<div {...props} class={classes} data-slot="alert-dialog"><slot /></div>

<script>
    import { createAlertDialog } from "@data-slot/alert-dialog";

    // create();
    const alertDialogs = document.querySelectorAll(
        '[data-slot="alert-dialog"]',
    );
    alertDialogs.forEach((dialog) => {
        const alertDialog = createAlertDialog(dialog!);

        dialog
            ?.querySelector('[data-slot="alert-dialog-overlay"]')
            ?.addEventListener("click", () => {
                alertDialog.close();
            });

        dialog
            ?.querySelector('[data-slot="alert-dialog-close"]')
            ?.addEventListener("click", () => {
                alertDialog.close();
            });
    });
</script>
