---
import { css } from "#styled-system/css";
import type { HTMLAttributes } from "astro/types";
import { accordionRecipe } from "./accordion.recipe";
import type { WithCSSProp } from "@lib/utils";

type Props = WithCSSProp<
    HTMLAttributes<"div"> & { value: string; disabled?: boolean }
>;

const { value, disabled, css: cssProp, ...props } = Astro.props;
const classes = css(accordionRecipe.raw().item, cssProp);
---

<div
    {...props}
    data-slot="accordion-item"
    data-value={value}
    data-disabled={disabled ? "" : undefined}
    class={classes}
>
    <slot />
</div>
