---
import { css } from "#styled-system/css";
import type { WithCSSProp } from "@lib/utils";
import type { HTMLAttributes } from "astro/types";
import { avatarRecipe, type AvatarVariants } from "./avatar.recipe";

type Props = WithCSSProp<HTMLAttributes<"div"> & AvatarVariants>;

const { css: cssProp, size, ...props } = Astro.props;
const classes = css(avatarRecipe.raw({ size }).root, cssProp);
---

<div class={classes} {...props}>
    <slot />
</div>
