---
import { css } from "#styled-system/css";
import type { HTMLAttributes } from "astro/types";
import { emptyVariants } from "./empty.recipe";
import type { WithCSSProp } from "@lib/utils";

type Props = WithCSSProp<HTMLAttributes<"div">>;

const { css: cssProp, ...props } = Astro.props;
const classes = css(emptyVariants.raw().media, cssProp);
---

<div class={classes} {...props}><slot /></div>
