---
import { cx } from "#styled-system/css";
import type { HTMLAttributes } from "astro/types";
import { emptyVariants } from "./empty.recipe";

type Props = HTMLAttributes<"div">;

const { class: className, ...rest } = Astro.props;
const classes = cx(emptyVariants().media, className);
---

<div class={classes} {...rest}><slot /></div>
